.botao{
	margin: auto;
	height: 75px;
	width: 250px;
	text-align: center;
}
.campo-senha{
	width:100%;
	background-color: #9ccbff;
	margin: 0 auto;
	position: relative;
/*	left: -100%;*/
}

.campo-senha-linha{
	width: fit-content;
	margin: 0 auto;
	text-align: center;
	margin: 3px;
}

body{
	width: 100vw;
	height:100vh;
}

.corpo{
	margin: 0;
}

/*CSS pro botao*/

.myButton2 {
	background-color:#2e466e;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:4px 2px;
	text-decoration:none;
}

.myButton2:active {
	position:relative;
	top:1px;
}



.campo-senha .botao-senha{
	width: 60px !important;
	height: 60px !important;
}

#divResultado, #divOperacao{
	height: 50px;
	font-size: 36px;
	text-align: right;
}

#divOperacao{
	color: grey;
	text-align: right;
}
